<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>University Admit Eligibility Predictor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700,500,1000&display=swap" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

</head>
<body>
    <div >
        <section>
            <h1 class="heading">University Admit Eligibility Predictor</h1>
        </section><br>
        <section>
            <form action="/" method="post" target="_blank">
                <div class="grades-req">
                    <div class="grade">
                        <p class="score">
                            GRE Score:
                        </p>
                        <input type="text" name="field1">
                    </div>

                    <div class="grade">
                        <p class="score">
                            TOEFL Score:
                        </p>
                        
                        <input type="text" name="field2">
                    </div>
                    
                    <div class="grade">
                        <p class="score">
                            University Rating:
                        </p>
                        <input type="text" name="field3">
                    </div>
                    
                    <div class="grade">
                        <p class="score">
                            SOP:
                        </p>
                        
                        <input type="text" name="field4">
                    </div>
                    
                    <div class="grade">
                        <p class="score">
                            LOR:
                        </p>
                        
                        <input type="text" name="field5">
                    </div>
                    
                    <div class="grade">
                        <p class="score">
                            CGPA:
                        </p>
                       
                        <input type="text" name="field6">
                    </div>
                    <div class="grade">
                        <p class="score">
                            Research:
                        </p>
                        
                        <input type="text" name="field7">
                    </div>
                    
                </div>
                <div class="sub-div">
                    <button type="submit" class="sub">SUBMIT</button>
                </div>
                
            </form>   
        </section>
    </div>
</body>
</html>